[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.2"
requests = "==2.25.1"
python-dotenv = "==0.15.0"
flask-cors = "*"
pymongo = "==3.11.3"

[dev-packages]
black = "*"
pylint = "*"
pycodestyle = "*"

[requires]
python_version = "3.11"
